/*Whole Document*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ---- Base Rules ---- */
body {
    background: rgb(0,84,171);
    background: linear-gradient(180deg, rgba(0,84,171,1) 0%, rgba(246,16,0,1) 27%, rgba(0,156,10,1) 45%, rgba(255,68,147,1) 65%, rgba(0,0,0,1) 86%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
    line-height: 1.5;
    scroll-behavior: smooth;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

p {
    line-height: 1.6em;
    color: #eee;
    font-size: 20px;
}

/* Layout Rules */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/*Scroll To Top*/
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; 
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    background-image: url("https://www.svgrepo.com/show/13695/star.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    text-overflow: clip;
    background-blend-mode: overlay;
}

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}


ul#navbar__list{
    background: url("https://static.wikia.nocookie.net/fantendo/images/9/99/NSMBU_Sky_Background_1.png/revision/latest?cb=20121215224646");
    background-size:cover;
    background-repeat:no-repeat;
    height: 100px;
}

.nav-link{
    text-decoration: none;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-size: 2rem;
}

/*Character link nav hover*/
a.nav-link.mario:hover{
    color: red;
}

a.nav-link.luigi:hover {
    color: rgba(0,156,10,1);
}

a.nav-link.princess-peach:hover {
    color: rgba(255,68,147,1);
}

a.nav-link.bowser:hover {
    color: orange;
}


/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/*Hero Styles*/
.main__hero{
    color: white;
    padding-bottom: 100px;
}

/* Footer Styles */
.page__footer {
    background-image: url('https://i.gifer.com/3JWq.gif');
    background-size: contain;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/*Pictures of Characters*/
#mario_with_star,
#luigi_pop,
#peach_run,
#bowser_stare{
    max-height: 400px;
    min-height: 200px;
    max-width: 100%;
    height: auto;

}

/*Bio Styling*/
#mario .landing__container,
#peach .landing__container {
    text-align: right; 
  }
  
  #mario h2,
  #peach h2,
  #luigi h2,
  #bowser h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 3em;
    color: #fff;
    border-bottom: 1px solid #cc1;
    text-align: left;
  }
  
  
  #mario .content-container,
  #peach .content-container,
  #luigi .content-container,
  #bowser .content-container {
    display: flex;
    flex-direction: row; /* Arrange children horizontally */
    align-items: center; /* Vertically align children */
    justify-content: center; /* Horizontally center children */
    width: 100%;
    margin-top: 1em; /* Add spacing above the content container */
  }
  
  #mario #mario_with_star {
    max-width: 50%;
  }

  #mario p,
  #peach p {
    flex: 1;
    margin-left: 20px;
    text-align: center;
  }

  #luigi > div > div > p,
  #bowser > div > div > p {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }

/* Styling for the Toggle Section button */
.toggle-button {
    position:relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    background-image: url("https://www.svgrepo.com/show/13695/star.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}

.toggle-button:hover {
    background-image: url("https://www.svgrepo.com/show/13695/star.svg");
    transform: rotate(180deg); 
    transition: background-image 0.3s ease, transform 1s ease;
}

.toggle-button.spin .show-text,
.toggle-button.spin .hide-text {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* Highlight active navigation link */
a.nav-link.mario.active {
    font-weight: bold;
    color: #ff0000; 
}

a.nav-link.luigi.active {
    font-weight: bold;
    color: green; 
}

a.nav-link.princess-peach.active {
    font-weight: bold;
    color: rgba(255,68,147,1); 
}

a.nav-link.bowser.active {
    font-weight: bold;
    color: orange; 
}

/* Add an arrow before the active link */
.nav-link.active::before {
    content: '➤'; 
    margin-right: 5px;
}


/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

/*Media Queries for Characters*/
@media only screen and (max-width: 915px){
    #mario .content-container,
    #luigi .content-container,
    #peach .content-container,
    #bowser .content-container{
        display:flex;
        flex-direction: column;
    }

    #luigi .content-container,
    #bowser .content-container{
        display:flex;
        flex-direction: column-reverse;
    }

    #mario h2,
    #peach h2,
    #luigi h2,
    #bowser h2{
        text-align: center;
    }
}

@media only screen and (max-width: 560px){
    h1#main_header{
        font-size: 100px;
        text-align: center;
        margin-top: 300px;
    }
}

@media only screen and (max-width: 645px){
    a.nav-link.mario,
    a.nav-link.luigi,
    a.nav-link.princess-peach,
    a.nav-link.bowser{
        font-size: 30px;
    }
}

@media only screen and (max-width: 560px){
    a.nav-link.mario,
    a.nav-link.luigi,
    a.nav-link.princess-peach,
    a.nav-link.bowser{
        font-size: 25px;
    }
}

@media only screen and (max-width: 560px){
    .navbar__menu ul{
        flex-direction: column;
        max-height: 50px;
        font-size: 20px;
    }

    .nav-link{
        margin:10px;
    }
}

@media only screen and (max-width: 530px){
    .navbar__menu ul{
        flex-direction: row;
        max-height: 50px;
    }

    .nav-link{
        margin:10px;
    }

    a.nav-link.mario,
    a.nav-link.luigi,
    a.nav-link.princess-peach,
    a.nav-link.bowser{
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px){
    a.nav-link.mario,
    a.nav-link.luigi,
    a.nav-link.princess-peach,
    a.nav-link.bowser{
        font-size: 15px;
    }
}